<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Pago 3</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card card-initiate-payment mt-4">
            <div class="card-header">
                <h1>Iniciar Pago 3</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="card" style="max-width: 700px; margin: 0 auto;">
                            <h2>Credenciales de Usuario</h2>
                            <div class="form-inline">
                                <div class="form-group" style="flex: 3;">
                                    <label>Usuario:</label>
                                    <input type="text" name="username" required>
                                </div>
                                <div class="form-group" style="flex: 3;">
                                    <label>Contraseña:</label>
                                    <input type="password" name="password" required>
                                </div>
                            </div>
                            <div class="form-group" style="flex: 3;">
                                <br>
                                <button type="button" class="btn btn-primary btn-block btn-generate-token" id="generateTokenButton">Generar Token</button>
                            </div>
                            <div class="form-group" style="flex: 3;">
                                <label>Token:</label>
                                <input type="text" name="token" id="tokenField" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card mb-3" style="max-width: 700px; margin: 0 auto;">
                            <div class="card-header">
                                <h2>Detalles del Pago</h2>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="end_to_end_identification">Identificación de Extremo a Extremo:</label>
                                    <input type="text" id="end_to_end_identification" name="end_to_end_identification" value="{{ form.end_to_end_identification.value }}" readonly>
                                </div>
                                <div class="form-group select-group">
                                    <label for="instructed_amount">Monto Instruido:</label>
                                    {{ form.instructed_amount }}
                                </div>
                                <div class="form-group">
                                    <label for="remittance_information_unstructured">Descripción de la Remesa:</label>
                                    {{ form.remittance_information_unstructured }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Remitente</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="debtor_bank">Nombre del Banco:</label>
                                        {{ form.debtor_bank }}
                                    </div>
                                    <div class="form-group select-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Beneficiario</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="creditor_bank">Nombre del Banco:</label>
                                        {{ form.creditor_bank }}
                                    </div>
                                    <div class="form-group select-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Dirección del Remitente</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="debtor_address">Dirección:</label>
                                        {{ form.debtor_address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Dirección del Beneficiario</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="creditor_address">Dirección:</label>
                                        {{ form.creditor_address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-block">Iniciar Pago</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
