<!DOCTYPE html>
<html>
<head>
    <title>Cargar Dirección</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/address.css' %}"> {% endcomment %}
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Cargar Dirección</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Cargar</button>
                        </form>
                        <div class="mt-3">
                            <a href="{% url 'load_data' %}" class="btn btn-secondary mb-2">Regresar a Cargar Datos</a>
                            <a href="{% url 'dashboard' %}" class="btn btn-secondary mb-2">Regresar al Dashboard</a>
                            <a href="{% url 'initiate_payment' %}" class="btn btn-secondary mb-2">Regresar a Iniciar Pago</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Direcciones Ingresadas</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for address in addresses %}
                                <li class="list-group-item">{{ address.building_number }} - {{ address.city }} - {{ address.country }} - {{ address.postal_code }} - {{ address.street }}</li>
                            {% empty %}
                                <li class="list-group-item">No se encontraron direcciones.</li>
                            {% endfor %}
                        </ul>
                        {% comment %} <div class="mt-3">
                            <a href="{% url 'load_address' %}" class="btn btn-primary">Modificar</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
