<!DOCTYPE html>
<html>
<head>
    <title>Cargar Datos</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/load_data.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <div class="info-card main-card">
            <h2>Menú de Carga de Datos</h2>
            <ul>
                <li><a href="{% url 'load_currency_code' %}">Cargar Código de Moneda</a></li>
                <li><a href="{% url 'load_iban' %}">Cargar IBAN</a></li>
                <li><a href="{% url 'load_account_reference' %}">Cargar Referencia de Cuenta</a></li>
                <li><a href="{% url 'load_address' %}">Cargar Dirección</a></li>
                <li><a href="{% url 'load_amount' %}">Cargar Monto</a></li>
            </ul>
        </div>
        <div class="info-card">
            <h2>Códigos de Moneda</h2>
            <ul>
                {% for currency in currency_codes %}
                    <li>{{ currency.currency_code }}</li>
                {% empty %}
                    <li>No se encontraron códigos de moneda.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="info-card">
            <h2>IBANs</h2>
            <ul>
                {% for iban in ibans %}
                    <li>{{ iban.iban }}</li>
                {% empty %}
                    <li>No se encontraron IBANs.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="info-card">
            <h2>Referencias de Cuenta</h2>
            <ul>
                {% for account in account_references %}
                    <li>{{ account.currency_code.currency_code }} - {{ account.iban.iban }} - {{ account.swift }}</li>
                {% empty %}
                    <li>No se encontraron referencias de cuenta.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="info-card">
            <h2>Direcciones</h2>
            <ul>
                {% for address in addresses %}
                    <li>{{ address.building_number }} - {{ address.city }} - {{ address.country }} - {{ address.postal_code }} - {{ address.street }}</li>
                {% empty %}
                    <li>No se encontraron direcciones.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="info-card">
            <h2>Montos</h2>
            <ul>
                {% for amount in amounts %}
                    <li>{{ amount.currency_code.currency_code }} - {{ amount.amount }}</li>
                {% empty %}
                    <li>No se encontraron montos.</li>
                {% endfor %}
            </ul>
        </div>

        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Regresar al Dashboard</a>
    </div>
</body>
</html>
