
# *.pyc
# migrations/
# __pycache__/
# node_modules/
# scripts/
# temp/
# test/
# Docker/
# docs/
# dbapi/

# .coverage

# my.cnf
# openapi.yaml
# opentools.json
# package-lock.json
# package.json
# petstore.json
# pytest.ini


# a001Black_proc

config/settings/local.py
