<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Pago</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/initiate_payment.css' %}"> {% endcomment %}

</head>
<body>
    <div class="container">
        <div class="card card-initiate-payment mt-4">
            <div class="card-header">
                <h1>Iniciar Pago</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="card" style="max-width: 700px; margin: 0 auto;">
                            <h2>Credenciales de Usuario</h2>
                            <div class="form-inline">
                                <div class="form-group" style="flex: 3;">
                                    <label>Usuario:</label>
                                    <input type="text" name="username" required>
                                </div>
                                <div class="form-group" style="flex: 3;">
                                    <label>Contraseña:</label>
                                    <input type="password" name="password" required>
                                </div>
                            </div>
                            <div class="form-group" style="flex: 3;">
                                <br>
                                <button type="button" class="btn btn-primary btn-block btn-generate-token" id="generateTokenButton">Generar Token</button>
                            </div>
                            <div class="form-group" style="flex: 3;">
                                <label>Token:</label>
                                <input type="text" name="token" id="tokenField" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card mb-3" style="max-width: 700px; margin: 0 auto;">
                            <div class="card-header">
                                <h2>Detalles del Pago</h2>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="end_to_end_identification">Identificación de Extremo a Extremo:</label>
                                    <input type="text" id="end_to_end_identification" name="end_to_end_identification" value="{{ form.end_to_end_identification.value }}" readonly> <!-- Campo para la identificación de extremo a extremo -->
                                </div>
                                <div class="form-group select-group">
                                    <label for="instructed_amount">Monto Instruido:</label>
                                    {{ form.instructed_amount }} <!-- Campo para el monto instruido -->
                                </div>
                                <div class="form-group">
                                    <label for="remittance_information_unstructured">Descripción de la Remesa:</label>
                                    {{ form.remittance_information_unstructured }} <!-- Campo para la información de remesa -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Remitente</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="debtor_bank">Nombre del Banco:</label>
                                        {{ form.debtor_bank }} <!-- Campo para el nombre del banco -->
                                    </div>
                                    <div class="form-group select-group">
                                        <label for="debtor_address">Dirección:</label>
                                        {{ form.debtor_address }} <!-- Campo para la dirección -->
                                    </div>
                                    <div class="form-group">
                                        <label for="debtor_name">Nombre del Propietario:</label>
                                        {{ form.debtor_name }} <!-- Campo para el nombre del propietario -->
                                    </div>
                                    <div class="form-group select-group">
                                        <label for="debtor_account">Número de Cuenta:</label>
                                        {{ form.debtor_account }} <!-- Campo para el número de cuenta -->
                                    </div>
                                    <div class="form-group">
                                        <label for="debtor_agent">Código SWIFT:</label>
                                        {{ form.debtor_agent }} <!-- Campo para el código SWIFT -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Beneficiario</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="creditor_bank">Nombre del Banco:</label>
                                        {{ form.creditor_bank }} <!-- Campo para el nombre del banco -->
                                    </div>
                                    <div class="form-group select-group">
                                        <label for="creditor_address">Dirección:</label>
                                        {{ form.creditor_address }} <!-- Campo para la dirección -->
                                    </div>
                                    <div class="form-group">
                                        <label for="creditor_name">Nombre del Propietario:</label>
                                        {{ form.creditor_name }} <!-- Campo para el nombre del propietario -->
                                    </div>
                                    <div class="form-group select-group">
                                        <label for="creditor_account">Número de Cuenta:</label>
                                        {{ form.creditor_account }} <!-- Campo para el número de cuenta -->
                                    </div>
                                    <div class="form-group">
                                        <label for="creditor_agent">Código SWIFT:</label>
                                        {{ form.creditor_agent }} <!-- Campo para el código SWIFT -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="max-width: 700px; margin: 0 auto;">
                            <div class="form-actions">
                                <button type="submit" class="btn-primary">Enviar Transferencia</button>
                                <div class="spacer"></div>
                                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Regresar al Dashboard</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% comment %} <script type="text/javascript">
        $(document).ready(function() {
            $('select').select2();

            $('#generateTokenButton').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '{% url "generate_token" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#tokenField').val(response.token);
                    },
                    error: function(xhr) {
                        if (xhr.status === 401) {
                            alert('Error de autenticación. Por favor, verifica tus credenciales.');
                        } else {
                            alert('Error al generar el token');
                        }
                    }
                });
            });
        });
    </script> {% endcomment %}

</body>
</html>
