<!DOCTYPE html>
<html>
<head>
    <title>Cargar Account Reference</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-card">
            <h1>Cargar Account Reference</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="currency_code">Código de Moneda:</label>
                    <select id="currency_code" name="currency_code" required>
                        {% for currency in currency_codes %}
                            <option value="{{ currency.id }}">{{ currency.currency_code }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="iban">IBAN:</label>
                    <select id="iban" name="iban" required>
                        {% for iban in ibans %}
                            <option value="{{ iban.id }}">{{ iban.iban }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="swift">SWIFT:</label>
                    <input type="text" id="swift" name="swift" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Cargar</button>
            </form>
            <a href="{% url 'load_data' %}" class="btn btn-secondary">Regresar a Cargar Datos</a>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Regresar al Dashboard</a>
            <a href="{% url 'initiate_payment' %}" class="btn btn-secondary">Regresar a Iniciar Pago</a>
        </div>
        <div class="info-card">
            <h2>Datos Ingresados</h2>
            <ul>
                {% for account in account_references %}
                    <li>{{ account.currency_code.currency_code }} - {{ account.iban.iban }} - {{ account.swift }}</li>
                {% empty %}
                    <li>No se encontraron referencias de cuenta.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'load_account_reference' %}" class="btn btn-primary">Modificar</a>
        </div>
    </div>
</body>
</html>
