<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Banco</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Administración -->
                <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="/admin/">Administración</a>
                </li>

                <!-- SEPA Transfers -->
                <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{% url 'transfer_list22' %}">SEPA XML</a>
                </li>


                <!-- SEPA Transfers Dropdown -->
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-light dropdown-toggle me-2" href="#" id="sepaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SEPA JSON
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sepaDropdown">
                        <li><a class="dropdown-item" href="{% url 'transfer_listGPT' %}">Listado de Transferencias</a></li>
                        <li><a class="dropdown-item" href="{% url 'initiate_transferGPT' %}">Nueva Transferencia</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_postal_addressGPT' %}">Crear Dirección Postal</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_accountGPT' %}">Crear Cuenta</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_financial_institutionGPT' %}">Crear Institución Financiera</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_debtorGPT' %}">Crear Deudor</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_creditorGPT' %}">Crear Acreedor</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_amountGPT' %}">Crear Monto</a></li>

                    </ul>
                </li>

            </ul>
            <div class="d-flex ms-auto">
                <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>